.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fbfdff;
  min-height: 100vh;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input {
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.button-ida, .button-volta, .button-image {
  display: flex;
  justify-content: space-between;
}

.button-ida span, .button-volta span {
  font-weight: 600;
  margin: 1em;
  border: 2px solid black;
  padding: .5em;
}

.section {
  margin-top: 10px;
  margin-bottom: 10px;
}

.block-input {
  display: block;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  height: 1.6em;
  width: 8em;
}

.input-reducer input {
  display: block;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
